.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 50px;
  background: white;
  border-bottom: 3px solid #3D6FB6;
}

.logo {
  width: 120px;
}

.nav-links a {
  margin: 0 18px;
  text-decoration: none;
  color: #080808;
  font-weight: bold;
}

.basket-btn {
  background: #3D6FB6;
  color: white;
  padding: 12px 18px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.basket-btn:hover {
  background: #2F5EA0;
}